<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <title>映画</title>
  <link href="static/css/index.css" rel="stylesheet">
  <style>
    body {
      background-color: rgb(2, 3, 2);
    }
  </style>
</head>

<body>

  <video id="myPlayerID" data-player="default" data-embed="default" data-application-id class="video-js" controls>
    <source  type="video/mp4" id="source"  src="/get_movie/jgt.mp4"/>
  </video>

</body>
<script src="static/js/compressed.js"></script>
<script src="static/js/movie.js"></script>
<script src="static/js/index.js"></script>

<script>
  videojs.getPlayer('myPlayerID').ready(function () {
    var myPlayer = this;
    myPlayer.backForwardButtons();
  });
</script>

</html>